<h1>New insurance certificate</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label">Customer name</label>
    <input type="text" class="form-control" formControlName="customerName">
    <span class="text-danger">{{nameValidation}}</span>
  </div>
  <div class="mb-3">
    <label class="form-label">Customer date of birth</label>
    <input type="date" class="form-control" formControlName="customerDateOfBirth">
    <span class="text-danger">{{birtdateValidation}}</span>
  </div>
  <div class="mb-3">
    <label class="form-label">Insured item</label>
    <input type="text" placeholder="Apple iPhone 14" class="form-control" formControlName="insuredItem">
    <span class="text-danger">{{itemValidation}}</span>
  </div>
  <div class="mb-3">
    <label class="form-label">Insured sum</label>
    <input type="number" class="form-control" formControlName="insuredSum">
    <span class="text-danger">{{sumValidation}}</span>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
  <br />
  <span class="text-danger">{{error}}</span>
</form>
